.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.type {
  background-color: darkblue;
  color: white;
}

.welcome {
  text-decoration: none;
  color: white;
}

.nav {
  background-color: black;  
  margin: 11px;
  text-decoration: none;
  color: white;
  padding: 11px;
  font-weight: bold;  
}

.jokesList{
  list-style: none;
  font-size: 1.7rem;
  border-bottom: 2px solid red;  
  margin: auto;
  padding: 22px; 
  color: white;
  width: 77%;
  text-align: center;
  background-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
